# Copied from https://github.com/j178/j178/blob/master/.github/workflows/update.yaml
# and https://github.com/j178/github-contrib-stats/blob/master/README.md
name: Update README

on:
  schedule:
    - cron: "0 12 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Generate 3D contribution profile
        uses: yoshi389111/github-profile-3d-contrib@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          SETTING_JSON: ./3d-profile-settings.json

      - name: Move files
        run: |
          mv ./profile-3d-contrib/profile-3d.svg ./profile-3d.svg
          rm -rf ./profile-3d-contrib

      - name: Download github-contrib-stats
        uses: robinraju/release-downloader@v1
        with:
          repository: j178/github-contrib-stats
          latest: true
          fileName: "github-contrib-stats*.tar.gz"
          extract: true
      - name: Update stats
        run: ./github-contrib-stats -u ${{ github.repository_owner }} --update contribution.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Commit files
        run: |
          if git diff --quiet; then
            echo "nothing new"
            exit 0
          fi
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "docs: daily update README"
          git push
